/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root {
    --navbar-height: 60px;
}

/* Navigation bar */
#navbar {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

/* Navigation bar: logo styling */
#logo {
    margin: 7px 5px;

}

#logo img {
    margin: 2px 1px;
    height: 70px;
}

/* Navigation bar: list styling */
#navbar {
    position: relative;
}

#navbar::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#navbar ul li {
    /* color: white; */
    list-style: none;
    font-family: 'Bree Serif', serif;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    color: white;
    /* color: black; */
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    /* border: 2px solid; */
}

#navbar ul li a:hover {
    /* color: white;
    background-color: black; */
    color: black;
    background-color: white;
}

/* Home Section  */
#home {
    display: flex;
    flex-direction: column;
    height: 550px;
    align-items: center;
    justify-content: center;
}

#home::before {
    content: '';
    background: url(../images/img11.jpg) no-repeat center center/cover;
    position: absolute;
    height: 642px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1 {
    color: white;
    text-align: center;
}

#home p {
    color: rgb(177, 19, 19);
    font-size: 1.2rem;
    text-align: center;
    border: 2px;
    /* background-color: rgb(231, 66, 66); */
    font-family: 'Bree Serif', serif;
}

/* Services Section  */
#services{
    margin: 3px 10px;
    display: flex;
}
#services .box{
    /* display: flex; */
    border: 2px solid red;
    margin: 5px;
    padding: 8px;
    border-radius: 14px;
    background-color: rgba(240, 255, 255, 0.904);

}
#services .box img{
    margin: auto;
    display: block;
    height: 160px;
}
#services .box p{
    font-family: 'Bree Serif', serif;
}
#services{}
#services{}
#services{}
/* Utility Classes */
.hprimary {
    /* border: solid black;
    background-color: black; */
    font-size: 3.2rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}

.hsecondary {
    /* border: solid black;
    background-color: black; */
    font-size: 2.3rem;
    padding: 10px;
    font-family: 'Bree Serif', serif;
}

.btn {
    border: 2px solid white;
    padding: 5px 20px;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 11px;
    cursor: pointer;
}

.center {
    text-align: center;
}